<div class="o-chapter-home">
{{> @chapter-home-title}}
    <div class="o-chapter-home__content">
        {{> @paragraph}}
        <div class="chapter-box">
            {{> @icon--large-primary}}
            {{> @icon--large-primary}}
        </div>

    </div>
    <div class="o-chapter-home__footer">
        {{> @indication--grey}}
        {{> @indication--green}}
    </div>
</div>