<div class="l-home">
    {{> @header }}
    <div class="l-home__chapters">
    {{> @chapter-home}}
    {{> @chapter-home}}
    {{> @chapter-home}}
    {{> @chapter-home}}
    </div>
    {{> @video-home}}
    {{> @text-image}}
    {{> @image-list}}
    {{> @footer }}    
</div>
