<div class="o-video-home">
    {{> @title--level3}}
    <div class="o-video-home__content">
        {{> @video--home}}
        {{> @video--home}}
        {{> @video--home}}
        {{> @video--home}}
    </div>
</div>