.l-home {

    &>div {
        margin-top: var(--spaceL);
        margin-bottom: var(--spaceL);
        padding-left: var(--spaceL);
        padding-right: var(--spaceL);

    }

    &__chapters>div {
        margin-bottom: var(--spaceM);


    }
}