.o-chapter-home {



    &__content {

        margin-top: var(--spaceS);
        display: flex;
        justify-content: space-between;

        &>p {
            width: 50%;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
    }
}