.a-number {
  font-family: var(--fontFamilyTitle);
  font-size: var(--fontSizeXL);
  color: var(--colorTextReversed);
  opacity: 0.7;

}

.a-home-number{
  font-family: var(--fontFamilyTitle);
  font-size: var(--fontSizeXL);
  color: var(--colorPrimary);
  opacity: 1;
}