.a-text{
    
}
.a-text--orange{
    color: #F5B895;
}
.a-text--introduction{
    font-family: 'Ubuntu-B';
    font-size: 18px;
}
.a-text--paragraphe{
    font-family: 'Abel';
    font-weight: 100;
    font-size: 18px;
}
.a-text--menu{
    font-family: 'Ubuntu';
    font-size: 40px;
}