<div class="o-image-list">
    {{> @title--level3}}
    <div class="o-image-list__content">
    {{> @image-link}}
    {{> @image-link}}
    {{> @image-link}}
    {{> @image-link}}
    {{> @image-link}}
    {{> @image-link}}
    {{> @image-link}}
    {{> @image-link}}
    </div>
</div>