<div class="a-image--icone">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/OOjs_UI_icon_info.svg/1200px-OOjs_UI_icon_info.svg.png" alt="image" class="a-image--icone__content">
</div>
